.text1 {
    color: black;
    text-align:center; 
}

.div1 {
    padding: 10px
}

#loginBtn{
	margin-left: 10px;
	margin-right: 10px;  
	float:right;
}

.dialog {
    width: 180px;
    height: 180px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -90px;
    z-index: 5;
    background: #f3f3f3;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}