body {
    background: #2b2b2b;
    margin: 0px;
}

.home {
    width: 100%;
    z-index: 2;
}

.home .image_top {
    width: 55%;
    height: auto;
    left: 5%;
    top: 100px;
    z-index: 1;
    position: absolute;
}

.home .image_center1 {
    width: 10%;
    height: auto;
    left: 0px;
    bottom: 30%;
    z-index: 1;
    position: absolute;
}

.home .image_center2 {
    width: 10%;
    height: auto;
    right: 0px;
    bottom: 30%;
    z-index: 1;
    position: absolute;
}

.home .image_bg {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: absolute;
}

.home #home-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.home .container_bg {
    background: #fff;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
}

.home .content {
    width: 100%;
    bottom: 0px;
    position: absolute;
    height: 30%;
}

.home .content_bg {
    background: #fff;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: absolute;
}

.home .content_border {
    height: 10px;
    width: 100%;
    background: #d1221a;
    position: absolute;
}

.home .content_border_bottom {
    height: 10px;
    width: 100%;
    background: #d1221a;
    position: absolute;
    bottom: 0px;
}

.home .text {
    text-align: left;
    bottom: 0px;
    line-height: 30px;
    margin: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    position: absolute;
}

.story {
    text-align: center;
    margin-top: 10%;
}

.story .image {
    width: 90%;
    margin-top: 5%;
    border: 10px solid #fff;
    border-radius: 5px;
}

.address {
    margin-top: 10%;
    background: #fff;
    text-align: center;
    padding-bottom: 10%;
    padding-top:5%;
}

.address .title {
    color: #000;
    text-align: center;
    font-size: 25px;
}

.address.works{
	 margin: 0 auto;
}

.contact {
    margin-top: 20%; 
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
    -webkit-font-smoothing: antialiased;
}

.contact .title {
    color: #fff;
    text-align: center;
    font-size: 25px;
}

.contact .content {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}

.contact .contact-form input {
    display: block;
    margin: 5px 0;
}

@media only screen and (min-width: 1258px) {
    .contact .contact-form {
        margin-right: 32px
    }
}

.contact .contact-form form:before,
.contact .contact-form form:after {
    content: "";
    display: table
}

.contact .contact-form form:after {
    clear: both
}

.ie6 #contacts .contact-form form,
.ie7 .contact .contact-form form {
    zoom: 1
}

.contact .contact-form .input,
.contact .contact-form textarea {
    border: 0;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    line-height: 29px;
    padding: 5px;
    margin-bottom: 20px;
    color: #fff;
    width: 100%;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-font-smoothing: antialiased
}

.contact .contact-form .button {
    border: 0;
    background: #f5c400;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #222;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 25px 9px;
    font-weight: 700;
    letter-spacing: 0;
    float: right;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 4px 0 #997a00, inset 0 -1px 0 rgba(255, 255, 255, .15), 0 6px 6px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 4px 0 #997a00, inset 0 -1px 0 rgba(255, 255, 255, .15), 0 6px 6px 1px rgba(0, 0, 0, .5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 4px 0 #997a00, inset 0 -1px 0 rgba(255, 255, 255, .15), 0 6px 6px 1px rgba(0, 0, 0, .5);
    text-shadow: 0 1px 1px rgba(255, 255, 255, .8)
}

.contact .contact-form .button:hover,
.contact .contact-form .button:active {
    background: #fc0
}

.contact .contact-form .button:active {
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(255, 255, 255, .15), 0 0 0 #fff;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(255, 255, 255, .15), 0 0 0 #fff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), inset 0 -1px 0 rgba(255, 255, 255, .15), 0 0 0 #fff;
    outline: 0;
    margin-top: 9px
}

.contact .contact-form #response {
    display: block;
    float: left
}

.contact .jobs-link {
    text-align: right;
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #cc0000;
}