body {
    background: #eee;
    margin: 0px;
}

.divider1 {
    width: 100%;
    padding-bottom: 40%;
    background: rgb(187,39,41);
    position: relative;
}

.divider2 {
    width: 100%;
    padding-bottom: 40%;
    background: rgb(222,123,76);
    position: relative;
}

.divider3 {
    width: 100%;  
    position: relative;
}

.divider4 {
    width: 100%;
    padding-bottom: 40%;
    background: rgb(115,87,161);
    position: relative;
}

.divider_top {
    background: transparent url('divider_top.png') repeat-x 0 bottom;
    top: 0px;
    width: 100%;
    height: 1.2rem;
    z-index: 1;
    position: absolute;
}

.divider_img{
    width: 100%;
    height: auto;
    position: absolute;
}

.divider_text {
    position: absolute;
    width: 100%;
    bottom: 15%;
    font-size: 1.5rem;
    text-align: center;
    color: #fdfdfd;
    text-shadow:  0.1rem 0.1rem 0.1rem #2c2c2c;
}

.divider_bottom {
    position: absolute;
    width: 100%;
    height: 1.2rem;
    background: transparent url('divider_bottom.png') repeat-x 0 top;
    bottom: 0px;
    z-index: 1;
}

.home {
    width: 100%;
    z-index: 2;
}

.home .image_top {
    width: 55%;
    height: auto;
    left: 5%;
    top: 6rem;
    z-index: 1;
    position: absolute;
}

.home .image_center1 {
    width: 10%;
    height: auto;
    left: 0px;
    bottom: 30%;
    z-index: 1;
    position: absolute;
}

.home .image_center2 {
    width: 10%;
    height: auto;
    right: 0px;
    bottom: 30%;
    z-index: 1;
    position: absolute;
}

.home .image_bg {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: absolute;
}

.home #home-container {
    width: 100%;
    height: 500px;
    position: relative;
}

.home .container_bg {
    background: #fff;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    -khtml-opacity: 0.3;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
}

.home .content {
    width: 100%;
    bottom: 0px;
    position: absolute;
    height: 30%;
}

.home .content_bg {
    background: #fff;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    -khtml-opacity: 0.5;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    position: absolute;
}

.home .content_border {
    height: 0.625rem;
    width: 100%;
    background: #d1221a;
    position: absolute;
}

.home .content_border_bottom {
    height: 0.;
    width: 100%;
    background: #d1221a;
    position: absolute;
    bottom: 0px;
}

.home .text {
    text-align: left;
    bottom: 0px;
    line-height: 1.7rem;
    margin: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 1.2rem;
    position: absolute;
}

.story {
    text-align: center;
    margin-top: 5%;
    padding-bottom: 5%;
}

.story .image_container {
    margin-top: 5%;
}

.story .image {
    width: 90%;
    border: 0.625rem double rgb(60, 121, 178); 
}

.story .image2 {
    width: 90%;
    border: 0.625rem double rgb(228, 157, 158); 
}

.story .image3 {
    width: 90%;
    border: 0.625rem double rgb(231, 217, 26);
}

.story .image4 {
    width: 90%;
    border: 0.625rem double rgb(232, 52, 85);
}

.story .image5 {
    width: 90%;
    border: 0.625rem double rgb(169, 205, 34);
}

.story .image6 {
    width: 90%;
    border: 0.625rem double rgb(189, 121, 61);
}

.intro {
    background: rgb(39, 40, 34);
    margin: 0 auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

.intro .text {
    text-align: left;
    margin: 0 auto;
    width: 90%;
    color: #fff;
    font-size: 1.063rem;
    letter-spacing: 0.05rem;
    line-height: 1.18rem;
}

.address {
    background: #fff;
    text-align: center;
    padding-bottom: 10%;
    padding-top: 5%;
    font-family: '华文仿宋', sans-serif;
}

.address .title {
    color: #000;
    font-size: 1.5rem;
}

.address .works {
    margin: 0 auto;
}

.address .text {
    font-size: 1rem;
    text-align: left;
    margin: 0.3rem;
}

.address a:link,
.address a:visited {
    color: #000000;
    text-decoration: none;
}

.address a:hover,
.address a:active {
    color: #000000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    text-decoration: underline;
}

.address .work {
    margin-top: 5%;
}

.address .image {
    width: 90%;
    border: 0.3rem solid #484848;
}

.address .button {
    border: 0;
    background: #f5c400;
    -webkit-border-radius: 0.12rem;
    -moz-border-radius: 0.12rem;
    border-radius: 0.12rem;
    text-transform: uppercase;
    color: #222;
    font-size: 1rem;
    line-height: 1.48rem;
    padding: 0.625rem 1.5rem 0.563rem;
    font-weight: 700;
    letter-spacing: 0;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
    -webkit-box-shadow: inset 0 0.05rem 0 rgba(255, 255, 255, .2), 0 0.2rem 0 #997a00, inset 0 -0.05rem  0 rgba(255, 255, 255, .15), 0 0.375rem 0.375rem 0.05rem  rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0.05rem  0 rgba(255, 255, 255, .2), 0 0.2rem 0 #997a00, inset 0 -0.05rem  0 rgba(255, 255, 255, .15), 0 0.375rem 0.375rem 0.05rem  rgba(0, 0, 0, .5);
    box-shadow: inset 0 0.05rem  0 rgba(255, 255, 255, .2), 0 0.2rem 0 #997a00, inset 0 -0.05rem  0 rgba(255, 255, 255, .15), 0 0.375rem 0.375rem 0.05rem  rgba(0, 0, 0, .5);
    text-shadow: 0 0.05rem  0.05rem  rgba(255, 255, 255, .8)
}

.address .button:hover,
.address .button:active {
    background: #fc0
}

.address .button:active {
    -webkit-box-shadow: inset 0 0.05rem  0 rgba(255, 255, 255, .2), inset 0 -0.05rem  0 rgba(255, 255, 255, .15), 0 0 0 #fff;
    -moz-box-shadow: inset 0 0.05rem  0 rgba(255, 255, 255, .2), inset 0 -0.05rem  0 rgba(255, 255, 255, .15), 0 0 0 #fff;
    box-shadow: inset 0 0.05rem  0 rgba(255, 255, 255, .2), inset 0 -0.05rem  0 rgba(255, 255, 255, .15), 0 0 0 #fff;
    outline: 0;
    margin-top: 0.563rem;
}

.contact {
    padding-top: 5%;
    width: 100%;
    text-align: center;
    padding-bottom: 10%;
    background: #2b2b2b;
    font-family: '华文仿宋', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.contact .title {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.contact .content {
    width: 80%;
    margin: 0 auto;
    margin-top: 1.250rem;
}

.contact .contact-form input {
    display: block;
    margin: 0.625rem 0;
}

@media only screen and (min-width: 1258px) {
    .contact .contact-form {
        margin-right: 32px
    }
}

.contact .contact-form form:before,
.contact .contact-form form:after {
    content: "";
    display: table
}

.contact .contact-form form:after {
    clear: both
}

.ie6 #contacts .contact-form form,
.ie7 .contact .contact-form form {
    zoom: 1
}

.contact .contact-form .input {
    border: 0;
    background: rgba(0, 0, 0, .5);
    -webkit-border-radius: 0.12rem;
    -moz-border-radius: 0.12rem;
    border-radius: 0.12rem;
    font-size: 1.188rem;
    line-height: 1.75rem;
    padding: 0.3rem;
    margin-bottom: 1.25rem;
    color: #fff;
    width: 100%;
    border: 0.05rem solid transparent;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-font-smoothing: antialiased
}

.contact .contact-form .button {
    border: 0;
    background: #f5c400;
    -webkit-border-radius: 0.12rem;
    -moz-border-radius: 0.12rem;
    border-radius: 0.12rem;
    text-transform: uppercase;
    color: #222;
    font-size: 1rem;
    line-height: 1.48rem;
    padding: 0.625rem 1.5rem 0.563rem;
    font-weight: 700;
    letter-spacing: 0;
    float: right;
    -webkit-transition: background .3s ease;
    -moz-transition: background .3s ease;
    transition: background .3s ease;
    -webkit-box-shadow: inset 0 0.05rem 0 rgba(255, 255, 255, .2), 0 0.2rem 0 #997a00, inset 0 -0.05rem 0 rgba(255, 255, 255, .15), 0 0.375rem 0.375rem 0.05rem rgba(0, 0, 0, .5);
    -moz-box-shadow: inset 0 0.05rem 0 rgba(255, 255, 255, .2), 0 0.2rem 0 #997a00, inset 0 -0.05rem 0 rgba(255, 255, 255, .15), 0 0.375rem 0.375rem 0.05rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0.05rem 0 rgba(255, 255, 255, .2), 0 0.2rem 0 #997a00, inset 0 -0.05rem 0 rgba(255, 255, 255, .15), 0 0.375rem 0.375rem 0.05rem rgba(0, 0, 0, .5);
    text-shadow: 0 0.05rem 0.05rem rgba(255, 255, 255, .8)
}

.contact .contact-form .button:hover,
.contact .contact-form .button:active {
    background: #fc0
}

.contact .contact-form .button:active {
    -webkit-box-shadow: inset 0 0.05rem 0 rgba(255, 255, 255, .2), inset 0 -0.05rem 0 rgba(255, 255, 255, .15), 0 0 0 #fff;
    -moz-box-shadow: inset 0 0.05rem 0 rgba(255, 255, 255, .2), inset 0 -0.05rem 0 rgba(255, 255, 255, .15), 0 0 0 #fff;
    box-shadow: inset 0 0.05rem 0 rgba(255, 255, 255, .2), inset 0 -0.05rem 0 rgba(255, 255, 255, .15), 0 0 0 #fff;
    outline: 0;
    margin-top: 0.563rem
}

.contact .contact-form #response {
    display: block;
    float: left
}

.contact .jobs-link {
    text-align: right;
    margin-top: 2.5rem;
    margin-bottom: 0.3rem;
    font-size: 1.250rem;
    color: #cc0000;
}